body {
  background-image: url(../images/Sea\ City1920x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
input {
  background: transparent;
}
input:hover {
  /* background: rgb(97, 132, 248); */
}
